// Colors
$primary: #002e49;
$secondary: #ABA000;

// modal
$modal-bg: #1f1f1f;
$landing-icon-size: 50px;

// arrow change
$arrow-change-cio-width: 280px;
$arrow-change-cio-height: 145px;
$arrow-change-arrow-width: 40px;
$arrow-change-border-radius: 10px;
$arrow-change-padding: 0;